// Mixins
@mixin box-sizing($value) {
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
    box-sizing: $value;

}

@mixin text-shadow($value...) {
    -webkit-text-shadow: $value;
    -moz-text-shadow: $value;
    text-shadow: $value;

}

@mixin border-radius($value...) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;

}

@mixin box-shadow($value...) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;

}

@mixin stroke-shadow($fg_color,$stroke_col, $shadow...) {
    color: $fg_color;
    @include text-shadow(
    $shadow,
    1px -1px 0 $stroke_col,
    -1px 1px 0 $stroke_col,
    1px -1px 0 $stroke_col,
    1px 1px 0 $stroke_col
    );
}

.centered {
    text-align: center;
}
$screen_size: 600px;

#header {
    .navbar-inner {
        text-align: center;
    }
    .navbar .nav,
    .navbar .nav > li {
        float:none;
        display:inline-block;
        *display:inline; /* ie7 fix */
        *zoom:1; /* hasLayout ie7 trigger */
        vertical-align: top;
    }
}

#content {
    overflow: hidden;
    @include box-sizing(border-box);
}
#footer {
    overflow-y: auto;
    @include box-sizing(border-box);
}

.plot_cell {
    @include box-sizing(border-box);
    padding: 5px;
    margin: 5px;
    text-align: center;
    float: left;
    circle {
        cursor: pointer;
        fill: white;
        stroke-width: 3px;
    }
    rect {
        cursor: pointer;
        fill: white;
    }
    .expand > rect {
        -webkit-filter: drop-shadow(3px 3px 3px #000);
        filter: drop-shadow(3px 3px 3px #000);
    }
    .expand text {
      font-weight: bold;
    }
}


