
<div class="span12">
  <div id="header" class="row">
    <div class="span12 centered">
      <h3>Navigation</h3>
      <div class="navbar">
        <div class="navbar-inner">
          <ul class="nav">
            <li ng-class="all_categories"><a ng-click="toggleAllCategories()">All</a></li>
            <li ng-repeat="(category_name,category) in categories" ng-class="category.class"><a ng-click="toggleCategory(category)">{{ category_name }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="content" class="row">
    <div class="span2">
      <h4>Show/hide</h4>
    </div>
    <div class="span8">
      <h4>Graph here</h4>
    </div>
    <div class="span2">
      <h4>Legend</h4>
    </div>
  </div>
  <div id="footer" class="row">
    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th ng-repeat="key in position_keys">{{key}}</th>
        <th ng-repeat="(key,category) in categories" ng-show="categories[key].active">{{key}}</th>
      </thead>
      <tbody>
        <tr ng-repeat="item in data">
          <td>{{ item["id"] }}</td>
          <td ng-repeat="key in position_keys">{{ item[key] }}</td>
          <td ng-repeat="(key,category) in categories" ng-show="categories[key].active">{{item[key]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>