.row-fluid
    .row-fluid#header
        .span12.centered
            h3 Navigation
            .navbar
                .navbar-inner
                    ul.nav
                        li(ng-class="all_categories"): a(ng-click="toggleAllCategories()") All
                        li(ng-repeat="(category_name,category) in categories", ng-class="category.class"): a(ng-click="toggleCategory(category)") {{ category_name }}
    .row-fluid#content
        .span2
            h4 Show/hide
            label.checkbox(ng-repeat="(name,cell) in grid")
                input(type="checkbox", ng-model="cell.active")
                | {{ name }}
                br
                | {{ cell.repr() }}
        .span10
            div#graphs
                div(ng-repeat="(name,values) in grid", ng-show="values.active")
                    pk-plot(plot="values", cats="categories", itm="data", click="scrollTo(id)", id="{{ values.id }}").plot_cell
    .row-fluid#footer
        .span12
            table.table
                thead
                    th ID
                    th(ng-repeat="key in position_keys") {{key}}
                    th Category
                tbody
                    tr(ng-repeat="item in data", id="row_{{item.id}}",ng-show="activeCategory(item.category)")
                        td {{ item["id"] }}
                        td(ng-repeat="key in position_keys") {{ item[key] }}
                        td {{ item.category }}
                    
